version: '3'

services:
  db:
    image: mongo:3.4
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=nimda
    volumes:
      - ./.persistance/monogdb-3.4:/data/db
    ports:
      - 27017:27017
    restart: always
