{% extends '::base.html.twig' %}

{% block title %}Акція закінчилась{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="banner">
                    <h3>Акція закінчилась</h3>
                    <h4>Ознайомтеся з іншими акціями за посиланням:</h4>
                    <a href="{{ path('index') }}" class="btn btn-primary">На головну</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
