{% extends '::base.html.twig' %}

{% block title %}Учасники{% endblock %}

{% block body %}
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="offer-container">

                    <div id="participant-app"></div>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group text-center">
                                <a href="{{ path('contact_index') }}"
                                   class="btn btn-lg btn-primary uppercase">Задати питання</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var ParticipationRouter = {
            GET: {
                participants: '{{ path('api_v1_participant_gets', {'id': 2}) }}'
            }
        }

    </script>
    <script src="{{ asset('dist/Participant.js') }}?v=1.0.0"></script>
{% endblock %}

