const config = {
    env: 'development',
    database: {
        host: 'mongodb://localhost',
        port: 27017,
        username: '',
        password: '',
        name: ''
    },
    server: {
        host: 'localhost',
        port: 3001
    },
    mailer: {
        managers: [''],
        host: 'localhost',
        port: 465,
        username: '',
        password: '',
    },
    tokens: {
        apiExportParticipants: null
    }
};

module.exports = config