{% extends '::base.html.twig' %}

{% block title %}Реєстрація{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('themes/white-coal/index.css') }}?v=1.0.14">
{% endblock %}

{% block body %}
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="offer-container">

                    <div id="register-white-coal-app"></div>

                    <br/>
                    <br/>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group text-center">
                                <a href="{{ path('contact_index') }}"
                                   class="btn btn-lg btn-primary uppercase">Задати питання</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var RegisterRouter = {
            GET: {

            }
        }

    </script>
    <script src="{{ asset('dist/Participant.js') }}?v=1.0.0"></script>
{% endblock %}

